# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# PyQt generated/temporary
*.pyqt6*

# Android / Gradle
android_sensor_node/.gradle/
android_sensor_node/.idea/
android_sensor_node/build/
android_sensor_node/app/build/
local.properties
*.iml

# OS
.DS_Store
Thumbs.db
